/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,900,700);

@import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon";

$color-dark-1: #08335b;
$color-dark-1-darker: darken($color-dark-1, 5%);
$color-dark-1-lighter: lighten($color-dark-1, 5%);
$color-dark-2: #24052c;
$color-dark-2-darker: darken($color-dark-2, 5%);
$color-dark-2-lighter: lighten($color-dark-2, 5%);
$color-dark-3: #695a61;
$color-dark-3-darker: darken($color-dark-3, 5%);
$color-dark-3-lighter: lighten($color-dark-3, 5%);
$color-light-1: #b7ba93;
$color-light-1-darker: darken($color-light-1, 5%);
$color-light-1-lighter: lighten($color-light-1, 5%);
$color-light-2: #9dcaeb;
$color-light-2-darker: darken($color-light-2, 5%);
$color-light-2-lighter: lighten($color-light-2, 5%);
$max-width: 768px;
$max-width-borders: $max-width * 0.75;

$base-body-background: $color-dark-3;
$base-body-color: rgba(255, 255, 255, 0.30);
$base-link-color: transparentize($color-dark-2, 0.5);
$base-link-hover-color: transparentize($color-dark-2, 0.25);
$base-link-hover-text-decoration: none;
$base-em-color: transparentize($color-dark-1, 0.5);
$base-body-font-family: 'Open Sans Condensed', sans-serif;
$base-body-font-weight:                          normal !default;
$base-body-font-size:                            14px !default;
$base-body-line-height:                          20px !default;
$base-margin-vertical:                           15px !default;
$base-heading-font-family: 'Orbitron', sans-serif;
$base-heading-font-weight:                       700 !default;
$base-heading-color:                             rgba(255, 255, 255, 0.30);
$base-heading-text-transform:                    none !default;
$base-heading-margin-top:                        25px !default;

$button-height:                                  2em;
$button-mini-height:                             1em;
$button-small-height:                            1.5em;
$button-large-height:                            3em;
$button-line-height:                             1.5em;
$button-mini-line-height:                        0.8em;
$button-small-line-height:                       1em;
$button-large-line-height:                       2.5em;
$button-mini-font-size:                          0.6em;
$button-small-font-size:                         0.8em;
$button-large-font-size:                         1.8em;
$button-padding-horizontal:                      1em;
$button-mini-padding-horizontal:                 0.5em;
$button-small-padding-horizontal:                0.7em;
$button-large-padding-horizontal:                1.5em;
$button-font-size:                               1em;
$button-background:                              $color-dark-1;
$button-color:                                   $color-light-1;
$button-hover-background:                        $color-dark-1-darker;
$button-hover-color:                             $color-light-1-darker;
$button-active-background:                       $color-dark-1-darker;
$button-active-color:                            $color-light-1-darker;
$button-primary-background:                      $color-dark-2;
$button-primary-color:                           $color-light-2;
$button-primary-hover-background:                $color-dark-2-darker;
$button-primary-hover-color:                     $color-light-2-darker;
$button-primary-active-background:               $color-dark-2-darker;
$button-primary-active-color:                    $color-light-2-darker;
$button-success-background:                      $color-light-1-darker;
$button-success-color:                           $color-dark-2;
$button-success-hover-background:                $color-light-1;
$button-success-hover-color:                     $color-dark-2-lighter;
$button-success-active-background:               $color-light-1;
$button-success-active-color:                    $color-dark-2-lighter;
$button-danger-background:                       $color-dark-3;
$button-danger-color:                            $color-light-2;
$button-danger-hover-background:                 $color-dark-3-darker;
$button-danger-hover-color:                      $color-light-2-darker;
$button-danger-active-background:                $color-dark-3-darker;
$button-danger-active-color:                     $color-light-2-darker;
$button-disabled-background:                     rgba(0, 0, 0, 0.25);
$button-disabled-color:                          rgba(255, 255, 255, 0.1);

@mixin box-shadows($shadow1, $shadow2) {
  -webkit-box-shadow: $shadow1, $shadow2;
  -moz-box-shadow: $shadow1, $shadow2;
  box-shadow: $shadow1, $shadow2;
}

@mixin text-shadows($shadow1, $shadow2) {
    -webkit-text-shadow: $shadow1, $shadow2;
    -moz-text-shadow: $shadow1, $shadow2;
    -ms-text-shadow: $shadow1, $shadow2; /* IE 10+ */
    -o-text-shadow: $shadow1, $shadow2;
    text-shadow: $shadow1, $shadow2;
}

@mixin text-shadow($horizOffset, $vertOffset, $blur, $color) {
    -webkit-text-shadow: $horizOffset $vertOffset $blur $color;
    -moz-text-shadow: $horizOffset $vertOffset $blur $color;
    -ms-text-shadow: $horizOffset $vertOffset $blur $color; /* IE 10+ */
    -o-text-shadow: $horizOffset $vertOffset $blur $color;
    text-shadow: $horizOffset $vertOffset $blur $color;
}

html, body, [data-momentum] {
	height: 100%;
	overflow: hidden;
}

[data-momentum] {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

  @media screen and (max-width: $max-width) {
    font-size: $base-body-font-size * 0.9;
  }

  @media screen and (max-width: $max-width / 2) {
    font-size: $base-body-font-size * 0.75;
  }  
}

html body input[type], html body .uk-form input[type] {
	background-color: $color-light-1;
	border: 1px solid rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.6);

	&::selection {
		background-color: $color-light-2;
	}
}

@import ".meteor/local/build/programs/server/assets/packages/richsilv_uikit-sass/assets/scss/_uikit.scss";
@import ".meteor/local/build/programs/server/assets/packages/richsilv_uikit-sass/assets/scss/components/form-select.scss";

// CUSTOM ELEMENTS

.bright {
	color: rgba(255, 255, 255, 0.50);
}

.light-background, .light-background *:not(button) {
	color: rgba(0, 0, 0, 0.40);

	.bright {
		color: rgba(0, 0, 0, 0.60);		
	}
}

.dark-1 {
	background-color: $color-dark-1;
}

.dark-2 {
	background-color: $color-dark-2;
}

.dark-3 {
	background-color: $color-dark-3;
}

.light-1 {
	@extend .light-background;
	background-color: $color-light-1;
}

.light-2 {
	@extend .light-background;
	background-color: $color-light-2;
}

.nav-panel {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	position: relative;
	overflow-y: hidden;
	transition: height 0.5s;
	float: left;

	&.nav-panel-arrow > * {
		max-width: 90%;
	}

	&.nav-panel-arrow:after {
		font-family: FontAwesome;
		content: '\f101';
		font-size: 4em;
		position: absolute;
		right: 10px;
		@include transform(translateY(-50%));
		top: 50%;
	}

	&.collapse {
		height: 0 !important;
		padding: 0 !important;
	}

	.block {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.block.borders {
		max-width: $max-width-borders;
		margin-left: auto;
		margin-right: auto;
	}
}

.height-1-4 {
	height: 25% !important;
	max-height: 25% !important;
}

.height-3-4 {
	height: 75% !important;
	max-height: 75% !important;	
}

.height-1-5 {
	height: 20% !important;
	max-height: 20% !important;	
}

.height-2-5 {
	height: 40% !important;
	max-height: 40% !important;	
}

.height-3-5 {
	height: 60% !important;
	max-height: 60% !important;	
}

.height-4-5 {
	height: 80% !important;
	max-height: 80% !important;	
}

.height-1-2 {
	height: 50% !important;
	max-height: 50% !important;
}

.height-1-3 {
	height: 33% !important;
	max-height: 33% !important;
}

.height-2-3 {
	height: 66% !important;
	max-height: 66% !important;
}

.height-1-6 {
	height: 17% !important;
	max-height: 17% !important;
}

.height-5-6 {
	height: 83% !important;
	max-height: 83% !important;
}

.height-1-12 {
	height: 8.5% !important;
	max-height: 8.5% !important;	
}

.height-5-12 {
	height: 41.5% !important;
	max-height: 41.5% !important;	
}

.height-7-12 {
	height: 58.5% !important;
	max-height: 58.5% !important;	
}

.height-11-12 {
	height: 91.5% !important;
	max-height: 91.5% !important;	
}

.large-text {
	font-size: 1.3em;
}

.small-text {
	font-size: 0.8em;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.text-error {
	color: darkred !important;
}

.heading-block {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0.5em;
		margin-bottom: 0.75em;
	}
}

body .athlete-panel {
	overflow: visible;
}

.athlete {
	position: relative;
	display: inline-block;
	overflow: hidden;
	float: left;
	transition: height 0.5s, width 0.5s;
	font-size: 1em;
	z-index: 5;

	.athlete-background {
		@include filter(brightness(90%) contrast(75%) blur(1px));
		position: absolute;
		background-size: 100% 100%, 100% 100% !important;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100%;
		width: 100%;
		box-sizing: border-box !important;
		position: inherit;
		@include button(shiny, rgba(255, 255, 255, 0.5));
		}

	.athlete-data {
		position: absolute;
		width: 100%;
		top: 50%;
		@include transform(translateY(-50%));
	}

}

.athlete-tab-panel {

	overflow-y: scroll;

}

.athlete-tab {

	font-size: 0.6em;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	clear: none;
	width: 23%;
	margin: 1%;
	border-radius: 0.25em;
	position: relative;

	.athlete-tab-background {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: 100% 100%;
		background-position: center;
		@include filter(brightness(70%) contrast(75%) blur(1px));		
	}

	.athlete-tab-contents {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0.5em !important;
		box-sizing: border-box;
		@include button(shiny, rgba(0, 0, 0, 0.2));
		// @include box-shadows(inset 15px 15px 15px rgba(0, 0, 0, 0.2), inset -15px -15px 15px rgba(255, 255, 255, 0.2));

		.uk-text-bold {
			font-size: 1.6em;
			padding: 0.1em;
			line-height: 1.5em;
			color: rgba(0, 0, 0, 1);
			@include ellipsis;
			@include text-shadow(0, 0, 2px, rgba(255, 255, 255, 0.5));
		}
	}

	&.M-tab {
		@extend .light-background;
		.athlete-tab-contents {
			.uk-text-bold {
				color: lightblue;
				@include text-shadows(0 0 1px rgba(0, 0, 50, 0.9), 0 0 3px rgba(0, 0, 50, 0.6));
			}
		}
	}
	&.W-tab {
		@extend .light-background;
		.athlete-tab-contents {
			.uk-text-bold {
				color: pink;
				@include text-shadows(0 0 1px rgba(50, 0, 0, 0.9), 0 0 3px rgba(50, 0, 0, 0.6));
			}
		}
	}

	&.disabled {
		.athlete-tab-background {
		@include filter(brightness(40%) contrast(35%) blur(1px));				
		}

		.athlete-tab-contents {
			.uk-text-bold {
				color: rgba(44, 44, 44, 0.5);				
			}
		}
	}

}

.athlete-tab-dummy {

	display: inline-block;
	box-sizing: border-box;
	float: left;
	clear: none;
	width: 23%;
	margin: 1%;
	border-radius: 0.25em;
	background-color: grey;
	padding: 0.5em !important;
	@include button(shiny, rgba(0, 0, 0, 0.2));

	.athlete-tab-contents {
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;

		.uk-text-bold {
			padding: 0.1em;
			line-height: 1.5em;
			color: rgba(0, 0, 0, 0.8);
		}
	}

}

.uk-modal.uk-open {
	background: rgba(0, 0, 0, 0.85);
	font-size: 1.5rem;
}

.athlete-modal {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
	padding: 2em;

	h1 {
		font-size: 3em;
		line-height: 3em;
	}
	h2 {
		font-size: 2.2em;
		line-height: 2.2em;
	}
	h3 {
		font-size: 1.9em;
		line-height: 1.9em;
	}
	h4 {
		font-size: 1.6em;
		line-height: 1.6em;
	}
	h5 {
		font-size: 1.4em;
		line-height: 1.4em;
	}
	h6 {
		font-size: 1.2em;
		line-height: 1.2em;
	}

	.flag-badge {
		height: 0.7em;
		width: 1.5em;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: inline-block;
		position: relative;
		border-radius: 5px;
		div {
			height: 100%;
			width: 100%;
			box-sizing: border-box;
			position: absolute;
			@include button(shiny, rgba(0, 0, 0, 0.2));
		}
	}

	a {
		color: $color-light-1;
	}
}

.show-row {
	text-align:	center;
	padding: 2%;

	> span {
		line-height: 1.5em !important;
		padding: 0.25em;
		background-color: rgba(255, 255, 255, 0.50);
		color: rgba(0, 0, 0, 0.8);
		max-width: 100%;
		word-wrap: break-word;

		.bright {
			color: rgba(0, 0, 0, 0.8);
		}
	}
}

html body input[type].input-header, html body select.input-header {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-size: 36px;
	line-height: 42px;
	font-family: $base-heading-font-family;
	font-weight: $base-heading-font-weight;
	color: rgba(255, 255, 255, 0.5);
	text-align: right;
	outline: none;
	max-width: 100%;
	width: 100%;

  	@include placeholder {
    	color: rgba(255, 255, 255, 0.1);
  	}	
}

html body .select2-container {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
	height: 1em;
	line-height: 1em;

	.select2-choice {
		background-image: none;
		background-color: rgba(0, 0, 0, 0);
		font-family: $base-heading-font-family;
		font-weight: $base-heading-font-weight;
		color: rgba(255, 255, 255, 0.5);
		text-align: right;
		border: none;
		height: 1em;
		line-height: 1em;
		box-shadow: none;

		> .select2-chosen {
			margin-right: 0px;
		}
	}

	.select2-arrow {
		visibility: hidden;
	}

	.select2-drop {

	}
}

// FLEXBOX SETTINGS

.uk-flex {
	flex-wrap: wrap;
}

.uk-flex-space-around {
	justify-content: space-around;
}

.uk-flex-start {
	justify-content: flex-start;
}

.uk-flex-item {
	padding: 0.5rem;
	margin: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

// MY OVERLAY

.overlay {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.overlay-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    -webkit-transform: translate3d(0,0,0);
    @include hook-overlay-area();

    &.visible {
    	opacity: 1;
    	z-index: 1;
    }
}

.overlay-area:not(:empty):before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.overlay-area-content {
    display: inline-block;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    vertical-align: middle;
    font-size: 4em;
    text-align: center;
    color: #fff;
    @include hook-overlay-area-content();
}

.overlay-area-content > :last-child { margin-bottom: 0; }
