<template name="Team">
  <div class="nav-panel dark-1 height-1-3 {{#if changeAthlete}}collapse{{/if}}">
  	<h3 class="uk-margin-small-bottom">Name: </h3>
    <h1 class="bright uk-margin-small-top uk-text-right"><input class="input-header bright" type="text" data-field="name" maxlength="25" value="{{name}}" placeholder="My Team Name"></h1>
    <div class="uk-grid padding-right">
        <div class="uk-width-1-2">
          <h3 class="uk-margin-small-top uk-margin-small-bottom">Nation: </h3>
          <h1 class="bright uk-margin-small-top uk-text-right">
            <select class="input-header" data-field="NAT">
              {{#each nations}}
                <option value={{Nat}}>{{LongName}}</option>
              {{/each}}
            </select>
          </h1>          
        </div>
        <div class="uk-width-1-2">
          <h3 class="uk-margin-small-top uk-margin-small-bottom">Points: </h3>
          <h1 class="bright uk-margin-small-top uk-text-right">
            {{points}}
          </h1>            
        </div>
    </div>

  </div>
  {{> teamDetails collapse=collapse}}
  {{> athleteBlock athletes=myAthletes details=athleteBlockDetails overlay=true}}
  {{#if athleteBlock}}
    {{> athleteTabs athletes=allAthletes details=athleteTabsDetails eligibility=eligibility}}
  {{/if}}
</template>

<template name="athleteBlock">
  <div class="nav-panel athlete-panel {{details.color}} height-{{details.heightString}} {{details.extraClasses}}" style="padding: {{details.marginPct}}%; {{details.extraStyles}}">
    <div class="block {{#if details.borders}}borders{{/if}}">
    	{{#each athletes}}
    		{{> athlete}}
    	{{/each}}
      {{#if overlay}}
      <div class="overlay-area {{#if dragOverlay}}visible{{/if}}">
      </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="athleteTabs">
  <div class="nav-panel athlete-tab-panel {{details.color}} height-{{details.heightString}} {{details.extraClasses}}" style="{{details.extraStyles}}">
    <div>
      {{#each athletes}}
        {{> athleteTab}}
      {{/each}}
      <div class="uk-clearfix"></div>
    </div>
  </div>
</template>

<template name="athlete">
	<div class="athlete {{#unless IBUId}}dummy{{/unless}}" style="height: {{toPercent ../details.rows ../details.marginPct}}%; width: {{toPercent ../details.cols ../details.marginPct}}%; margin: {{../details.marginPct}}%;">
  		<div class="athlete-background" style="background-image: {{athleteBackground this}};">
  		</div>
  {{#if IBUId}}
  		<div class="athlete-data">
  			<div class="show-row"><span><span class="uk-text-bold large-text bright">{{FamilyName}}, {{GivenName}}</span></span></div>
  			<div class="show-row"><span>Value: <span class="uk-text-bold large-text bright">{{value}}</span></span></div>
  			<div class="show-row"><span>Points: <span class="uk-text-bold large-text bright">{{points}}</span></span></div>		
  		</div>
  {{/if}}
  	</div>
</template>

<template name="athleteTab">
  <div class="athlete-tab {{GenderId}}-tab {{#unless eligible}}disabled{{/unless}}">
    <div class="athlete-tab-background" style="background-image: url('images/{{NAT}}.png')"></div>
    <div class="athlete-tab-contents">
      <div class="uk-text-bold">{{FamilyName}}, {{abbreviate GivenName}}<br>{{NAT}} - val {{value}}</div>
    </div>
  </div>
</template>

<template name="teamDetails">
  <div class="nav-panel height-1-6 dark-1 overlay heading-block {{collapse}}">
      <h4 class="uk-float-left">Value: {{dps value 1}} / {{MAX_VALUE}}</h4>
      <h4 class="uk-float-right">Transfers: <span class="{{#if gt 0 transfers}}text-error{{/if}}">{{transfers}}</span></h4>
      <h4 class="uk-float-left clear-left">M / W: {{toNum eligibility.genders.M}} / {{toNum eligibility.genders.W}}</h4>
      <h4 class="uk-float-right"><button class="uk-button" disabled={{invalid}} data-action="save-team">SAVE</button></h4>
      <div class="overlay-area {{#if dragOverlay}}visible{{/if}}">
          <div class="overlay-area-content" data-action="remove-athlete"><i class="uk-icon-trash"></i></div>
      </div>
  </div>
</template>

<template name="athleteModal">
  <div class="athlete-modal">
    {{> Template.dynamic template=page.template data=page.data}}
  </div>
</template>

<template name="athleteInfo">
  {{#with athlete}}
    <h2 class="uk-display-inline">{{GivenName}} {{FamilyName}}</h2><h3 class="uk-display-inline"> ({{GenderId}})</h3>
    <div class="uk-clearfix"></div>
    <h3 class="uk-display-inline">{{fullNation NAT}} <div class="flag-badge" style="background-image: url('images/{{NAT}}small.png');"><div></div></div></h3>
    <p>Value: <strong>{{value}}</strong></p>
    <p>Points this season: <strong>{{points}}</strong></p>
    <a data-action="show-results">Results this season</a>
    <h4>Seasons</h4>
    {{#each arrayify seasons}}
      <a class="uk-margin-large-right" data-action="show-season" data-SeasonId="{{key}}">{{key}}</a>
    {{/each}}
  {{/with}}
</template>

<template name="athleteResults">
  {{#with athlete}}
    <h2 class="uk-display-inline">{{GivenName}} {{FamilyName}}</h2>
    <div class="uk-clearfix"></div>
  {{/with}}
  <dl class="uk-description-list-line text-small">
    {{#each results}}
      <dt class="uk-text-primary">
      {{#with raceDeets RaceId}}
        {{Organizer}} ({{Nat}}), {{ShortDescription}} - {{briefTime StartTime}}
      {{/with}}
      </dt><dd>
      Position: {{correct Rank}} 
      Course Rank: {{correct CourseRank}} 
      Shooting Rank: {{correct ShootingRank}} 
      Points: {{correct points}}
      </dd>
    {{/each}}
  </dl>
</template>

<template name="athleteSeason">
  {{#with athlete}}
    <h2 class="uk-display-inline">{{GivenName}} {{FamilyName}}</h2>
  {{/with}}
    <h3>Season: {{SeasonId}}</h3>
  {{#with athleteSeason}}
    <dl class="uk-description-list-horizontal">
      <dt>Races</dt><dd>{{races}}</dd>
      <dt>Total Points</dt><dd>{{totalPoints}}</dd>
      <dt>Average Points</dt><dd>{{dps averagePoints 2}}</dd>
      <dt>Average Finishing Pos.</dt><dd>{{dps aveTotalRank 2}}</dd>
      <dt>Best Finish</dt><dd>{{bestTotalRank}}</dd>
      <dt>Shooting Percentage</dt><dd>{{percentage shootingPercentage}}%</dd>
      <dt>Average Course Rank</dt><dd>{{dps aveCourseRank 2}}</dd>
      <dt>Average Shooting Rank</dt><dd>{{dps aveShootRank 2}}</dd>      
    </dl>
  {{/with}}
</template>