<template name="Root">
  <div class="nav-panel nav-panel-arrow height-1-4 dark-1" data-link="team">
  	<h1>Team</h1>
  	<h3>Silvo's Warriors</h3>
  </div>
  <div class="nav-panel nav-panel-arrow height-1-4 dark-2" data-link="leagues">
  	<h1>Leagues</h1>
  	<h3>2 mini-leagues, 114th overall</h3>
  </div>
  <div class="nav-panel nav-panel-arrow height-1-4 light-1" data-link="calendar">
  	<h1>Calendar</h1>
  	<h3>Next Race: Oestersund 21st Nov and now this goes on too long</h3>
  </div>
  <div class="nav-panel nav-panel-arrow height-1-4 dark-3" data-link="settings">
  	<h1>Settings</h1>
  	<h3>Help and Account Settings</h3>
  </div>
</template>