<template name="MasterLayout">
	<div class="hover-area-left {{#if routeExcludeSwipeBack}}disabled{{/if}}">
  		<div class="item-vertical-centered">
   			<div class="uk-text-center">
	   			<i class="uk-icon uk-icon-large uk-icon-backward"></i>
   			</div>
		</div>
	</div>
	<div id="main-container">
		<div class="uk-height-1-1">
	  	{{> yield}}
	  	</div>
  	</div>
</template>

<template name="confirmModalWrapper">
	<div class="uk-modal">
		{{> confirmModal}}
	</div>
</template>

<template name="confirmModal">
    <div class="uk-modal-dialog light-1">
        <a class="uk-modal-close uk-close"></a>
        <h2>{{header}}</h2>
    	{{{content}}}
    	{{#unless noButtons}}
	        <button type="button" class="uk-button uk-button-danger uk-margin-left uk-float-right" data-action="cancel">Cancel</button>
	        <button type="button" class="uk-button uk-button-primary uk-float-right" data-action="confirm">Confirm</button>
	        <div class="uk-clearfix"></div>
        {{/unless}}
    </div>
</template>

<template name="generalModalWrapper">
	<div class="uk-modal">
	{{> Template.dynamic template=template data=data}}
	</div>
</template>