<template name="Calendar">
  	<div class="uk-height-1-1 overflow-container dark-2 padding-small">
	  	<ul class="uk-list uk-list-line uk-list-space">
	  	{{#each eventList}}
	  		<li class="overflow-hidden">
		  		{{> eventHeader}}
		  		<ul class="uk-list height-transition {{#unless open}}hidden{{/unless}}">
		  			{{#each raceList}}
		  				<li>{{> raceDetails}}</li>
		  			{{/each}}
		  		</ul>
	  		</li>
	  	{{/each}}
	  	</ul>
  	</div>
</template>

<template name="eventHeader">
	<h2 class="bright uk-display-inline" data-action="change-event">{{Organizer}} ({{Nat}})</h2><h3 class="uk-display-inline" data-action="change-event"> - {{Description}}</h3>
</template>

<template name="raceDetails">
	<h4>{{ShortDescription}}, {{briefTime StartTime}}</h4>
</template>